<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


  </head>
  <body>
  <div id="main-bar">
      <div id="search-bar">
          <a href="/logout" style="color : white; text-decoration: none;">LOGOUT</a>
          <input type="text" id="search-box">
          <button type="submit">search</button>
          <a href="http://127.0.0.1:8080/admin" style="text-decoration: none; color:white">HOME</a>

      </div>
  </div>

  <section id="app">

  <aside id="control-units">
      <a id="user-btn"><img class="icon" src="{{ url_for('static', filename='icons/user.svg')}}" > </a>
    <a id="requests-btn"><img class="icon" src="{{ url_for('static', filename='icons/request.svg')}}"> </a>
    <a id="data-btn"><img class="icon" src="{{ url_for('static', filename='icons/Charts.svg')}}" > </a>
  </aside>

  <div id="main-content">
        <h1 class='display-1' style='color:white;'>PORTAL INFORMATION</h1>
        <table class='table'  id="drives">
          <tr>
          <th>Entity</th>
          <th>Quantity</th>
          </tr>

          <tr>
            <td>Student</td>
            <td>{{ information['student'] }}</td>
          </tr>
          <tr>
            <td>Company</td>
            <td>{{ information['company']}}</td>
          </tr>

          <tr>
            <td>Applications</td>
            <td>{{ information['application']}}</td>
          </tr>



        </table>
  </div>

  </section>

    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>

  </body>
</html>
