<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000;
            font-family: Arial, sans-serif;
            color: #ffffff;
        }
        .box {
            border: 1px solid white;
            height : 10rem;
            width : 40rem;
            text-align: center;
        }
        h1 {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 style="color:red">Failed</h1>
        <strong> {{ message }} </strong><hr><br>
        <a href="/login" style="color:rgb(255, 255, 255); text-decoration: none;">BACK</a>
    </div>
</body>
</html>
