<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rang-Laxmi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

  </head>
  <body>
    <header>
      <div id="main-bar">

        <div id="logo" class="center-item">
          <img id="logo-image" src="logo.png" alt="">
        </div>

        <nav>
          <a href="#home">HOME</a>
          <a href="#about">ABOUT</a>
          <a href="#contact">CONTACT</a>
        </nav>

        <div id="log-in" class="center-item">
            <a style='text-decoration:none'>Login </a>
        </div>

      </div>
    </header>

    <section id="hero-section" class="app center-item">

      <div id="hero-content" class="center-item">

        <div id="hero-text" class="center-item">
            <h1> Niyukt </h1>
        </div>

        <div id="image-section-college" class="center-item">
          Image section
        </div>

      </div>

    </section>

    <section id="breif-section" class="app center-item">

      <div id="breif-content" class="content-box">

        <div id="college-image" class="breif-content">
          <img id="colleg-image-elem" src="ranglaxmi.jpeg">
        </div>

        <div id="breif-content-paragraph" class="breif-content">
          <p>
            Breif About college section
          </p>
        </div>

      </div>

    </section>

    <footer>
      <div id="footer-content">
      </div>
    </footer>

  </body>
</html>
