<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form-styles.css') }}">
  <title>Drive Creation</title>
</head>
<body>


  <div id="form-content-box">
  <form action="/company/drive" method="post">
    <div id="form-content">

    <div id="name-input-box" class="input-box">
      <label for="name">Job Role:</label>
      <input type="text" id="name" name="job_role" required>
    </div>

    <div id="text-box" class="input-box">
      <label for="description">Job discription :</label>
      <textarea rows="4" cols="50" name="description" id="discription" required></textarea>
    </div>
    <div id="button-section">
    <button id="submit-button" type='submit'>Submit</button>

    </div>
    </div>
  </form>

  </div>

</body>
</html>

