<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>requests</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <!-- Have to extend for submitting a form and geting the response -->
    <form action="/admin/approval" method="POST">
      <h1> Requests for Approvals </h1>

      <label for="company_names"> Company Names : </label>

      {% for company in requests_list %}
      <hr>
      <!-- Removing the colens for this to substitute -->
      <label for="{{ company }}"> {{ company }}</label>
      <input type="radio" id="option" name="{{ company }}" value="{{ company }}">

      {% endfor %}

      <button id="submit-button" type="submit">Approve</button>
    </form>
  </body>
</html>
