<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STUDENT DASHBOARD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


  </head>
  <body>
  <div id="main-bar">
      <div id="search-bar">
          <input type="text" id="search-box">
          <button type="submit">search</button>
      </div>
  </div>

  <section id="app">

  <aside id="control-units">
    <a id="user-btn" href='http://127.0.0.1:8080/student/'><img class="icon" src="{{ url_for('static', filename='icons/user.svg')}}" > </a>
    <a id="requests-btn"><img class="icon" src="{{ url_for('static', filename='icons/request.svg')}}"> </a>
    <a id="data-btn"><img class="icon" src="{{ url_for('static', filename='icons/Charts.svg')}}" > </a>
  </aside>

  <div id="main-content">
        <h1 class='display-1' style='color:white;'>STUDENT  INFORMATION</h1>
        <table class='table' id="info-box">
          <tr>
            <th>
              Company Name
            </th>
            <th>
              Job Role 
            </th>
            <th>
              Discription
            </th>
            <th>
              Status
            </th>
            <th>
              Apply
            </th>
          </tr>
          {% for drive in drive_listing %}
            <tr>
              <td> {{ drive['company_name'] }} </td>
              <td> {{ drive['job_role'] }}</td>
              <td> {{ drive['discription'] }}</td>
              <td> {{ drive['status']  }}</td>
            <td><button id="{{ drive['drive_id'] }}" class="apply-btn">Apply</button></td>
            </tr>
          {% endfor %}
            
        </table>
  </div>

  </section>

    <script src="{{ url_for('static', filename='js/student_dashboard.js') }}"></script>
  </body>
</html>
