<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STUDENT DASHBOARD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
  </head>
  <body>
  <div id="main-bar">
      <div id="search-bar">
          <input type="text" id="search-box" placeholder="Search drives...">
      </div>
  </div>

  <section id="app">
    <aside id="control-units">
      <a id="drives-btn" title="Available Drives"><img class="icon" src="{{ url_for('static', filename='icons/request.svg')}}"> </a>
      <a id="history-btn" title="My Applications"><img class="icon" src="{{ url_for('static', filename='icons/user.svg')}}" > </a>
    </aside>

    <div id="main-content">
       <h1>Welcome to the Student Portal</h1>
    </div>
  </section>

    <script src="{{ url_for('static', filename='js/student_dashboard.js') }}"></script>
  </body>
</html>
